<!DOCTYPE html>
<html ng-app='demo' ng-controller="mainController" >
<head>
	<title>Angularjs Test | {{ seo.pageTitle }}</title>
	<meta name="description" content="{{ seo.pageDescripton }}">
	<meta name="fragment" content="!">
	<!-- <base href="/angularjs/"> -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
</head>
<body>
	<h1>Test</h1>
	<div ui-view></div>

	<script type="text/javascript">
	var app = angular.module('demo' , ['ui.router']);
	app.controller('mainController' , function($scope){
		 $scope.seo = { 
		    pageTitle : '', pageDescription : '' 
		  }; 
	});
	app.config(function($stateProvider, $urlRouterProvider,$locationProvider) {

	  /* $locationProvider.html5Mode(true); */

	  $locationProvider.hashPrefix('!');

	  /* For any unmatched url, redirect to /state1 */
	  $urlRouterProvider.otherwise("/state1");

	 
	  $stateProvider
	    .state('state1', {
	      url: "/state1",
	      templateUrl: "partials/state1.html",
	      controller:'state1'
	    })
	    .state('state1.list', {
	      url: "/list",
	      templateUrl: "partials/state1.list.html",
	      controller: function($scope) {
	      	$scope.seo = "daynamic title";
	        $scope.items = ["A", "List", "Of", "Items"];
	      }
	    })
	    .state('state2', {
	      url: "/state2",
	      templateUrl: "partials/state2.html",
	      controller:'state1'
	    })
	    .state('state2.list', {
	      url: "/list",
	      templateUrl: "partials/state2.list.html",
	      controller: function($scope) {
	      	 $scope.$parent.seo = { 
			    pageTitle : 'AngularJS SEO Tutorial', 
			    pageDescripton: 'Welcome to our tutorial on getting your AngularJS websites and apps indexed by Google.' 
			  }; 
	        $scope.things = ["A", "Set", "Of", "Things"];
	      }
	    });
	});
	</script>
	<script type="text/javascript" src='partials/state1.js'></script>
</body>
</html>